*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Kdam Thmor Pro', sans-serif;
    font-family: 'Nuosu SIL', serif;
}
.conteudo_geral{
	width: 100%;
}
.navbar{
    background: rgb(63,94,251);
	background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); ;
    width:100%;
    height:65px;
    font-size: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    letter-spacing: 2px;
}
nav ul{
    color: white;
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin: 20px;
    border-bottom: solid transparent 1px;
    padding-bottom: 7px;  
}
nav ul li:hover{
    border-bottom: solid 1px;
}

/*Aqui começamos a biografia*/

.conteudo_bio{
    display: flex;
    justify-content:space-around;
    background-color:#f6f5f5;
    letter-spacing: 1px;   
}

.foto_bio{
    width: 45%;
    height: 45%;
    padding: 10px;
    margin:20px;
    box-shadow: 0 0 4px gray;
    border-radius: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
}
h2{
    color: black;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Nuosu SIL', serif;
    margin:0px;
}
.biografia{
    font-family:'Kdam Thmor Pro', sans-serif;
    font-family: 'Nuosu SIL', serif;
    line-height: 30px;
    color: black;
    padding:20px;
    margin:10px;
   
}

.box-propaganda{
    background-color:whitesmoke; 
    padding: 20px; 
}
 
.titulo-campanha{
    font-size:22px;
    letter-spacing:4px;
    text-align: center;
    background-color: #F04393;
    color:white;
    padding:6px;
}

.box-titulo{
    color: black;
    padding:10px; 
    letter-spacing:1px;
    line-height: 30px; 
}

.box-pic{
    display: flex;
    justify-content:center;
    align-items:center;  
}
.box-pic>img{
    box-shadow: 0 0 4px gray;
    border-radius: 10px;
}

.botonzito{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

button{
    color:white;
    background-color:#b66488;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 2px  whitesmoke;
    font-size: 18px;
    margin-top:20px;
    padding:8px;
}

button:hover{
  box-shadow: 2px 2px 2px 2px whitesmoke;
  color:white; 
  border: none;
  font-size: 22px; 
  background-color:#7598ea;
  box-shadow: 0 0 4px gray;
}

.foto_propagandas img{
    border:15px solid white;
}
.titulo2{
    letter-spacing:2px;
    padding-top:20px; 
}
.box-foot {
    font-size:20px;
    letter-spacing:4px;
    color:white;
    background:#F04393; 
	display: flex;
    justify-content:center;
    margin: 20px auto;  
    align-items: center;
}

.iconos{
    width:30px;
    height: 30px;
    margin: 0px 20px 0px 20px;
    align-items: center;
    border-radius: 3px;
}

.copyright{
  text-align: center;
}    

.links{
    font-size:20px;
    letter-spacing:5px;
    color:#F04393;
	display: flex;
    justify-content:center;
    margin: 40px;  
    align-items: center;
    font-weight: bold;
    word-spacing: 10px;  
}

.links>a{
    text-decoration: none;
    color:#5E72EB;
    padding: 7px;
}

.links>a:hover{
    border-bottom: solid 1px #5E72EB;
}

.fixed{
    background-color: whitesmoke;
    opacity: 0.7;
    position: fixed;
    display: flex;
    justify-content:center;
    color: rgb(125, 14, 112);
    font-weight: bold;
    padding:10px;
    cursor: pointer;
    width:150px;
    border-radius:10px;
    margin:15px;
    box-shadow: 0 0 4px gray;
    right:20px;
    bottom:80px;
}

.fixed>img{
    width:40px;
    border-radius: 50%;
}
.fixed>img:hover{
   background-color:#5E72EB;
   color:white;
   
}

.fixed p a{
    text-decoration: none;
}

.fixed:hover{
    box-shadow: 0 5 8px gray;
}